<div class="row">
  <div class="col-1"></div>
  <%= link_to root_path, class: "col-10" do %>
    <%= image_tag 'TENDER.png', class: 'center-logo' %>
  <% end %>
  <div class="col-1"></div>
</div>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :photo,
            required: true,
            autofocus: true,
            input_html: { autocomplete: "email", placeholder: "PHOTO", class: "pink-skinny-round-btn" },
            label: false %>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email", placeholder: "EMAIL", class: "pink-skinny-round-btn" },
                label: false %>
    <%= f.input :password,
                required: true,
                input_html: { autocomplete: "new-password", placeholder: "PASSWORD", class: "pink-skinny-round-btn" },
                label: false %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password", placeholder: "CONFIRM PASSWORD", class: "pink-skinny-round-btn" },
                label: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "COMPLETE", class: "big-btn bg-magenta col-xs-12" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
