
<div class="container cocktail-index">
  <h2> Cocktails</h2>

  <h3>TODO: Checkboxes for filters</h3>
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
    <!-- TODO: Fix to make background image dynamic -->
    <!-- <div class="card" style="background-image: linear-gradient(0deg, rgba(47, 24, 71, 0.32), rgba(47, 24, 71, 0.32)), url("#{<%= image_path 'cocktail.png' %>}"), #FFD2FC"> -->
      <%= link_to cocktail_path(cocktail) do  %>
        <div class="card">
          <div class="top-right">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <!-- <p id="hidden-desc"><%= cocktail.description %></p> -->
          <h1><%= cocktail.name.truncate(18) %></h1>
          <div class="flavors row justify-content-center">
            <% cocktail.flavor[0..1].each do |flavor| %>
              <div class="flavor"><%= flavor %></div>
            <% end %>
          </div>
          <div class="bottom-left row justify-content-center">
            <%= cocktail.base_spirit %>
            <i class="fas fa-glass-martini-alt"></i>
            <%= cocktail.glass %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>


